include pug/utilites/utilites.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='images/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#000')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#000')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    
  body
    main.site
      header.site-header
        .logo
         img.logotype(src='images/header/logo.png', alt='Bitcoin Gambling')
        a(href="#").header-title
          h1.main-title itcoin Gambling
          p.sub-title Life is but a gamble! Let flipism chart your ramble!
        .header-stats
          nav.header-navigation
            ul
              li
                a(href="#") TOS
              li
                a(href="#") FAQ
              li
                a(href="#") Contact Us
          a.header-cource(href='#')
           +svg-icon('stats',13, '#b9b9b9')
           span 1 BTC - 900 USD
        .language-picker
          a(href="#").language
            +svg-icon('globe',20, '#b9b9b9').globe
            span ENG
            +svg-icon('more',10, '#b9b9b9').more
        .profile
          .profile-avatar
            +svg-icon('noavatar',53,'#b9b9b9').avatar
          .profile-stats
            a(href="#").profile-nickname Your Nickname
              
              +svg-icon('more',10,'#b9b9b9').more
            a(href="#").profile-balance 0,0124586

      aside.left-bar.iscollapsed
        .top-line
          a(href="#").left-bar-collapse
            +svg-icon('right-arrow',13,'#ef9e5b')
        .rooms
          .room
            .room-logo
              img(src="images/left-bar/room-logo.png")
            .room-info
              a.room-title Game mode Name
              a.room-description Short description
          .room
            .room-logo
              img(src="images/left-bar/room-logo.png")
            .room-info
              a.room-title Game mode Name
              a.room-description Short description
          .room
            .room-logo
              img(src="images/left-bar/room-logo.png")
            .room-info
              a.room-title Game mode Name
              a.room-description Short description
          .room
            .room-logo
              img(src="images/left-bar/room-logo.png")
            .room-info
              a.room-title Game mode Name
              a.room-description Short description
          .room
            .room-logo
              img(src="images/left-bar/room-logo.png")
            .room-info
              a.room-title Game mode Name
              a.room-description Short description
        .links
          a.twitter(href="#")
            +svg-icon('twitter',42,'#acacac')
          a.vk(href="#")
            +svg-icon('vk',42,'#acacac')
      .roulette-plate
        .top-line
          a(href="#").room-name Room #34 - Game mode Name - Players 9/10


    link(rel='stylesheet', href='css/index.min.css')
    script(src='scripts/scripts.min.js')
