footer.site-footer
        nav.footer-nav
          ul
            li
              a(href="#") Home
            li
              a(href="#") About Bitcoin
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms Of Service
            li
              a(href="#") Help Center
            li
              a(href="#")
                +svg-icon('twitter',13,'#b9b9b9')
            li
              a(href="#")
                +svg-icon('vk',13,'#b9b9b9')
                
        span.copyright Copyright&copy 2017 Company Name, All Rights Reserved.