.table-header
  table(cellpadding='0', cellspacing='0', border='0')
    thead
      tr
        th BetID
        th User
        th Time
        th Gamemode
        th Profit
.table-content
  table(cellpadding='0', cellspacing='0', border='0')
    tbody
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.lose 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.lose 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696

      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696
      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696

      tr
        td
          a.bet-id(href="#") 34687376367
        td
          a.bet-user(href="#") niilka
        td
          a.bet-time 09:12
        td
          a.bet-gamemode Game mode
        td
          a.bet-profit.win 0,6969696

