@import "vars";
/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .header-navigation {
        display: none;
    }
    .header-cource {
        display: none !important;
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .header-title {
        .main-title {
            font-size: 40px !important;
        }
        .sub-title {
            display: none;
        }
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .header-title {
        .main-title {
            padding-top: 10px;
            font-size: 34px !important;
        }
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .header-title {
        display: none !important;
    }
    .footer-nav a {
        font-size: 10px !important;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    /* */
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    /* */
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    /* */
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    /* */
}