@import "reset";
@import "base";
@import "fonts";
@import "vars";
@import "media";
.site {
    margin: 0 auto;
    position: relative;
    max-width: 1336px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.container {
    max-width: 1136px;
    margin: 0 auto;
}

.site-header {
    position: relative;
    height: 97px;
    width: 100%;
    display: flex;
    background-color: #4d4d4d;
    .logo {
        width: 97px;
        background-color: #efefef;
        background-image: url('../images/header/logo-pattern.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .logotype {
            border: 2px dashed #d5d5d5;
            border-radius: 8px;
        }
    }
    .header-title {
        position: relative;
        font-family: 'Ubuntu';
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        color: #cacaca;
        padding-left: 27px;
        padding-top: 0px;
        height: 100%;
        vertical-align: top;
        text-decoration: none;
        .main-title {
            font-weight: 700;
            margin: 0;
            padding-left: 40px;
            margin-top: -10px;
            font-size: 44px;
            transform: skewX(-10deg);
            &::before {
                content: 'B';
                font-family: 'BTC';
                color: #f3993e;
            }
        }
        .sub-title {
            font-weight: 300;
            font-size: 13px;
            transform: skewX(-12deg);
            margin: 0;
            padding-left: 32px;
            margin-top: -21px;
        }
    }
    .header-stats {
        position: absolute;
        right: 300px;
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        vertical-align: top;
        margin-left: 10%;
        text-align: center;
        .header-navigation {
            margin-top: 17px;
            ul {
                li {
                    display: inline-block;
                    margin-right: 12px;
                    &:hover a {
                        color: darken(#e6e6e6, 10%);
                    }
                    a {
                        text-decoration: none;
                        font-size: 20px;
                        color: #e6e6e6;
                    }
                }
            }
        }
        .header-cource {
            font-size: 16px;
            color: #b9b9b9;
            font-weight: 300;
            text-decoration: none;
            display: inline-block;
            &:hover {
                color: lighten(#b9b9b9, 5%);
            }
            .icon {
                padding-right: 2px;
            }
        }
    }
    .profile {
        position: absolute;
        right: 80px;
        display: inline-flex;
        vertical-align: top;
        height: 100%;
        align-items: center;
        .profile-avatar {
            align-items: center;
            width: 65px;
            height: 65px;
            border: 2px solid #40a44e;
            border-radius: 36em;
            justify-content: center;
            display: flex;
            padding-top: 16px;
            overflow: hidden;
        }
        .profile-stats {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .profile-nickname {
                color: #f7f7f7;
                font-size: 16px;
                text-decoration: none;
                position: relative;
            }
            .profile-balance {
                font-size: 13px;
                color: #b9b9b9;
                line-height: 9px;
                padding-left: 10px;
                text-decoration: none;
                &::before {
                    content: 'B';
                    font-family: 'BTC';
                }
            }
        }
    }
}

.left-bar {
    z-index: 1;
    background-color: #4d4d4d;
    height: 622px;
    position: absolute;
    box-shadow: 15px 0px 163px -31px rgba(0, 0, 0, 0.75);
    transition: all 0.1s ease-out;
    width: 97px;
    .top-line {
        background-color: #333333;
        height: 29px;
        width: 100%;
        display: flex;
        justify-content: center;
        .left-bar-collapse {
            padding-top: 2px;
            transition: all 0.2s ease-out;
        }
    }
    &.is-large {
        width: 303px;
        .top-line {
            justify-content: flex-end;
            .left-bar-collapse {
                padding-top: 2px;
                margin-right: 20px;
                transform: rotate(180deg);
            }
        }
        .rooms {
            overflow-y: scroll;
        }
    }
    .rooms {
        height: 462px;
        overflow: hidden;
        .room {
            padding-top: 7px;
            padding-bottom: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #3e3e3e;
                cursor: pointer;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            }
            .room-logo {
                width: 77px;
                height: 77px;
                border-radius: 8px;
                border: 2px solid #d49561;
                background-color: #646464;
                background-image: url('../images/left-bar/room-shape.png');
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .room-info {
                padding-left: 20px;
                display: none;
                .room-title {
                    font-size: 19px;
                    line-height: 19px;
                    font-weight: 700;
                    color: #b9b9b9;
                    display: block;
                }
                .room-description {
                    font-size: 16px;
                    font-weight: 400;
                    color: #b9b9b9;
                }
            }
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        &.large {
            flex-direction: row;
            margin-top: 40px;
        }
        .vk,
        .twitter {
            .icon {}
        }
    }
}

.window-plate {
    background-color: #c6c6c6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%238b8b8b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    .roulette-plate {
        padding-top: 20px;
        .roulette {
            background-color: #e4e4e4;
            width: 100%;
            height: 90px;
            border-top: 1px solid #a2a3a3;
            border-bottom: 1px solid #a2a3a3;
            overflow: hidden;
            .users {
                text-align: center;
                position: relative;
                transition: all, 0.2s;
                .user {
                    vertical-align: top;
                    margin-top: 4px;
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    border-right: 1px solid #cbcbcb;
                    .nickname {
                        color: #646464;
                        text-decoration: none;
                        font-size: 17px;
                        display: block;
                    }
                    .user-column {
                        display: inline-flex;
                        .user-image {
                            width: 48px;
                            height: 48px;
                            background-color: #6c6a69;
                            border-radius: 20em;
                            margin-right: 6px;
                        }
                        .user-info-bar {
                            text-align-last: left;
                            display: flex;
                            flex-direction: column;
                            width: 86px;
                            height: 48px;
                            &>span {
                                margin-left: 14px;
                                width: 66px;
                                font-size: 12px;
                                color: #8c8c8c;
                                background-color: #fafafa;
                                border-radius: 12px;
                                border: 1px solid #bababa;
                                display: flex;
                                justify-content: center;
                                position: relative;
                                &>.icon {
                                    position: absolute;
                                    left: -16px;
                                }
                                &:first-child {
                                    margin-bottom: 3px;
                                    &::before {
                                        content: "B";
                                        font-family: "BTC";
                                        position: absolute;
                                        left: -14px;
                                    }
                                }
                                &:last-child {
                                    &::after {
                                        content: "%";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.top-bar {
    height: 146px;
    position: absolute;
    right: 0;
    top: 98px;
    background-color: #4d4d4d;
    overflow: hidden;
    transition: all 0.1s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &.is-collapsed {
        width: 19px;
        .top-line {
            padding-top: 2px;
            text-align: center;
        }
        .left-line {
            background-color: #4d4d4d;
            .icon {
                visibility: hidden;
            }
            visibility: hidden;
        }
        .top-of-all {
            visibility: hidden;
        }
    }
    &.is-large {
        width: 266px;
        .peoples {
            li {
                & {
                    border-bottom: 1px solid #3d3d3d;
                }
            }
        }
        .top-of-all {
            visibility: visible;
        }
        .top-line {
            padding-top: 2px;
            padding-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            .top-bar-title {
                display: inline-block;
            }
            .icon {
                position: absolute;
                top: 2px;
                left: 8px;
            }
        }
        .top-bar-label {
            display: none;
        }
    }
    .top-bar-label {
        position: absolute;
        top: 70px;
        left: -2px;
        display: inline-block;
        transform: rotate(90deg);
        font-size: 13px;
        font-weight: 400;
        color: #e6e6e6;
    }
    .top-line {
        width: 100%;
        height: 29px;
        background-color: #333333;
        .top-bar-title {
            font-size: 13px;
            text-decoration: none;
            color: #8c8c8c;
            display: none;
        }
    }
    .peoples {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        li {
            height: 27px;
            width: 100%;
            display: flex;
            align-items: center;
            .left-line {
                background-color: #333333;
                width: 29px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {}
            }
            .nickname {
                text-decoration: none;
                color: #c8c7c7;
                padding-left: 20px;
                &:hover {
                    color: #ef9e5b;
                }
            }
            .money {
                text-decoration: none;
                color: #646464;
                background-color: #333333;
                border: 1px solid #646464;
                line-height: 1.2;
                font-size: 12px;
                padding: 3px;
                margin-left: 20px;
                font-style: italic;
                &::after {
                    content: "B";
                    font-family: "BTC";
                    padding-left: 3px;
                }
            }
        }
    }
    text-align: center;
    .top-of-all {
        color: #c8c7c7;
        text-decoration: none;
        font-size: 14px;
        line-height: 35px;
        &:hover {
            color: #ef9e5b;
        }
    }
}

.chat-bar {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 244px;
    background-color: #e6e6e6;
    overflow: hidden;
    transition: all 0.1s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &.is-collapsed {
        width: 19px;
        .top-line {
            padding-top: 2px;
            text-align: center;
        }
        .message-sent {
            visibility: hidden;
        }
    }
    &.is-large {
        width: 266px;
        .top-line {
            padding-top: 2px;
            padding-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            .chat-bar-title {
                display: inline-block;
            }
        }
        .chat-bar-label {
            display: none;
        }
        .icon {
            position: absolute;
            top: 2px;
            left: 8px;
        }
        .message-sent {
            visibility: visible;
        }
        .messages {
            border-bottom: 1px solid #9c9c9c;
        }
    }
    .chat-bar-label {
        position: absolute;
        top: 210px;
        left: -2px;
        display: inline-block;
        transform: rotate(90deg);
        font-size: 13px;
        font-weight: 400;
        color: #3e3e3e;
    }
    .top-line {
        width: 100%;
        height: 29px;
        background-color: #333333;
        .chat-bar-title {
            font-size: 13px;
            text-decoration: none;
            color: #8c8c8c;
            display: none;
        }
    }
    .message-sent {
        width: 100%;
        height: 45px;
        background-color: #d8d9d9;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .message-input {
            outline: none;
            border: 1px solid #7e7e7e;
            border-radius: 3px;
            width: 243px;
            height: 32px;
            font-style: italic;
            font-size: 13px;
            font-weight: 300;
            padding-left: 8px;
        }
    }
    .messages {
        padding: 20px;
        height: 402px;
        overflow-x: hidden;
        overflow-y: auto;
        .message-block {
            .user-meta {
                display: flex;
                justify-content: space-between;
                .nickname {
                    font-size: 16px;
                    text-decoration: none;
                    color: #646464;
                }
                .message-time {
                    font-size: 16px;
                    color: #646464;
                }
            }
            .message {
                background-color: #dbdbdb;
                padding: 2px 5px;
                font-weight: 300;
                color: #646464;
                font-size: 13px;
                font-style: italic;
                border-radius: 6px;
                position: relative;
                z-index: 2;
                padding-left: 11px;
                &::before {
                    position: absolute;
                    top: -8px;
                    left: -15px;
                    content: "";
                    border: 10px solid transparent;
                    border-right: 20px solid #dbdbdb;
                    display: block;
                    width: 0;
                    height: 0;
                    transform: rotate(45deg);
                    z-index: 1;
                }
            }
        }
    }
}

.all-bets {
    &.visible {
        .table-content {
            max-height: 196px;
        }
        .show-bets {
            .icon {
                transform: rotate(270deg);
            }
        }
    }
    position: relative;
    .show-bets {
        position: absolute;
        top: -28px;
        right: 49%;
        width: 40px;
        height: 30px;
        background-color: #333333;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .icon {
            transition: all 0.2s ease-out;
            transform: rotate(90deg);
        }
    }
    a {
        color: #3e3e3e;
        &.win {
            color: #39b54a;
            &::before {
                content: "+ ";
            }
        }
        &.lose {
            color: #c31818;
            &::before {
                content: "- ";
            }
        }
    }
    table {
        width: 100%;
        table-layout: fixed;
    }
    .table-content {
        height: 300px;
        overflow-x: auto;
        margin-top: 0px;
        background-color: #e6e6e6;
        max-height: 0px;
    }
    th {
        height: 19px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #8c8c8c;
        background-color: #333333;
        text-align: center;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        &::after {
            content: "";
            width: 1px;
            height: 10px;
            display: block;
            position: absolute;
            background-color: #656565;
            right: 0;
            top: 4px;
        }
    }
    td {
        text-align: center;
        vertical-align: middle;
        font-weight: 300;
        font-size: 12px;
        color: #3e3e3e;
    }
}

.site-footer {
    height: 62px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-nav {
        padding-left: 34px;
        ul {
            list-style-type: none;
            li {
                display: inline-flex;
                position: relative;
                padding-right: 5px;
                padding-left: 5px;
                &:hover {
                    a {
                        color: lighten(#b9b9b9, 10%)
                    }
                }
                &:not(:nth-child(1n+5))::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 2px;
                    height: 12px;
                    top: 5px;
                    right: -2px;
                    background-color: #b9b9b9;
                }
                a {
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 700;
                    color: #b9b9b9;
                }
            }
        }
    }
    .copyright {
        font-weight: 300;
        color: #8c8c8c;
        font-size: 13px;
        padding-right: 34px;
    }
}

.profile-popup {
    width: 97px;
    height: 90px;
    background-color: #f7f7f7;
    position: absolute;
    top: 60px;
    right: -14px;
    border-radius: 6px;
    z-index: 2;
    visibility: hidden;
    transition: all 0.2s ease-out;
    opacity: 0;
    &.show {
        opacity: 1;
        visibility: visible;
        top: 70px;
    }
    &::after {
        content: "";
        border: 20px solid transparent;
        position: absolute;
        top: -30px;
        right: 0;
        border-bottom: 20px solid #f7f7f7;
    }
    ul {
        list-style-type: none;
        padding-left: 10px;
        padding-top: 6px;
        li {
            display: flex;
            align-items: center;
            &:hover {
                a {
                    color: #ef9e5b;
                    .icon {
                        svg {
                            fill: #ef9e5b;
                        }
                    }
                }
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: #4d4d4d;
                .icon {
                    padding-right: 5px;
                }
            }
        }
    }
}

.timer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .progress {
        width: 400px;
        height: 80px;
    }
    .progress .track,
    .progress .fill {
        fill: #eaeaea;
        stroke-width: 3;
        transform: rotate(90deg)translate(0px, -80px);
    }
    .progress .track {
        stroke: #eaeaea;
    }
    .progress .fill {
        stroke: #f7931a;
        stroke-dasharray: 219.99078369140625;
        stroke-dashoffset: -219.99078369140625;
        transition: stroke-dashoffset 1s;
    }
    .progress .value,
    .progress .text {
        font-family: 'Open Sans';
        fill: #f7931a;
        text-anchor: middle;
    }
    .progress .text {
        font-size: 12px;
    }
}

.bet-control {
    width: 320px;
    height: 70px;
    margin: auto;
    .bet-info {
        display: flex;
        justify-content: space-between;
        &>span {
            color: #8c8c8c;
            background-color: #d9d9d9;
            border-radius: 20px;
            width: 73px;
            height: 25px;
            border: 1px solid #b4b4b4;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &.btc {
                margin-left: 30px;
                &::before {
                    content: "B";
                    font-family: 'BTC';
                    position: absolute;
                    left: -17px;
                    top: -3px;
                    font-size: 17px;
                }
            }
            &.chance {
                margin-right: 30px;
            }
            &>.icon {
                position: absolute;
                left: -23px;
                top: 2px;
            }
        }
    }
}

.bet-place {
    margin: auto;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    .bet-value {
        width: 150px;
        height: 30px;
        border-radius: 4px;
        background-color: #d9d9d9;
        border: 1px solid #39b54a;
        color: #aaaaaa;
        padding: 4px;
    }
    .bet,
    .bet-all {
        width: 70px;
        height: 30px;
        border-radius: 4px;
        background-color: #44b347;
        border: 1px solid #30a033;
        border-bottom: 3px solid #30a033;
        &.bet-all {
            width: 90px;
        }
        &:hover {
            background-color: lighten(#44b347, 3%);
            cursor: pointer;
        }
        &:active {
            background-color: darken(#44b347, 10%);
        }
    }
}

.settings-plate {
    width: 549px;
    height: 550px;
    border-radius: 5px;
    background-color: #e6e6e6;
    margin: auto;
    margin-top: 40px;
    .tab-content.profile {
        &>div {
            display: inline-block;
            vertical-align: top;
            width: 49%; //FIX
        }
        .profile-left {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .deposit-buttons>a {
                display: inline-block;
                width: 90px;
                height: 30px;
                border-radius: 5px;
                border: 1px solid #30a033;
                background-color: #44b347;
                text-decoration: none;
                text-align: center;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
                color: #e6e6e6;
                font-size: 14px;
                font-weight: 500;
                font-style: italic;
                line-height: 24px;
                &:hover {
                    background-color: lighten(#44b347, 3%);
                    cursor: pointer;
                }
                &:active {
                    background-color: darken(#44b347, 10%);
                }
                &:first-child {
                    margin-right: 4px;
                }
            }
            .balance {
                padding-top: 12px;
                margin-bottom: 10px;
                .balance-title {
                    display: block;
                    color: #646464;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }
                .balance-value {
                    text-align: center;
                    display: block;
                    color: #646464;
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: italic;
                    line-height: 24px;
                    text-transform: uppercase;
                    &::before {
                        content: "B";
                        font-family: "BTC";
                        padding-right: 2px;
                    }
                }
            }
        }
        .profile-right {
            .activity {
                margin-top: 230px;
                margin-left: 40px;
                text-align: center;
                &>span {
                    font-weight: 700;
                    display: block;
                    color: #646464;
                    &>span {
                        font-weight: 400;
                    }
                }
            }
            .nickname {
                color: #646464;
                font-family: Ubuntu;
                font-size: 24px;
                font-weight: 500;
                line-height: 25px;
                display: block;
                margin-top: 10px;
                margin-bottom: 14px;
            }
            &>span {
                font-size: 18px;
                color: #646464;
                font-weight: 700;
                display: block;
                &>span {
                    font-weight: 400;
                }
            }
        }
    }
    .tabs-controls {
        height: 28px; // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        &>a {
            display: inline-block;
            border-radius: 4px;
            width: 50%;
            text-align: center;
            cursor: pointer;
        }
        &>.active {
            color: #646464;
            font-family: Ubuntu;
            font-size: 17px;
            font-weight: 500;
            background-color: #e6e6e6;
        }
        &>.inactive {
            color: #dbdbdb;
            font-family: Ubuntu;
            font-size: 17px;
            font-weight: 500;
            background-color: #a1a1a1;
        }
    }
}